body {
    margin: 0;
    background-image: url(background1.PNG);
}

.Header {
    text-align: center;
    text-decoration: none;
    color: orangered;
    font-family: cursive;
    font-size: 3em;
}

.input-container {

   
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 0;
    background-image: url(background2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

.input-container label {
    margin: 10px;
    font-weight: bolder;
    color: black;
    font-size: 1.5em;
}

.input-container input {
    margin: 10px;
    font-weight: bolder;
    display: inline;
    color: black;
    font-size: 1.5em;
}

.input-container select {
    margin: 10px;
    
    font-weight: bolder;
    display: inline;
    color: black;
    font-size: 1.5em;
}

.display {
    
    margin: 10%;
    margin-bottom: 0;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    background-image: url(background2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.thankYou {
    margin: 10px;
    
    font-weight: bolder;
    color: black;
    font-size: 1.5em;
}

#myButton {
    
    margin-left: 10%;
    display: inline;
    height: 40px;
    margin-top: 1%;
    background-image: url(background2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    
}